In [ ]:
import pandas as pd

In [8]:
rentalDF = pd.read_csv("data/rental_1000.csv")

In [9]:
rentalDF

     rooms  sqft   price
0        4  1334   69702
1        5  1725   86083
2        1  1058   53492
3        2  2117  106500
4        2  2225  110860
..     ...   ...     ...
995      2   724   36981
996      2  2305  114239
997      4  1782   88291
998      2  1449   75552
999      2  1190   60859

[1000 rows x 3 columns]